<ion-content [fullscreen]="true">
  <div class="apple-intro-wrapper" 
       [style.background-image]="'url(' + (slides[currentIndex].image || 'assets/default-bg.jpg') + ')'">
    
    <div class="glass-overlay"></div>

    <div class="content-container">
      
      <div class="text-animate-box">
        <h1 class="apple-title">{{ slides[currentIndex].title }}</h1>
        <p class="apple-subtitle">{{ slides[currentIndex].subtitle }}</p>
      </div>

      <div class="footer-actions">
        
        <div class="dots-indicator">
          <span *ngFor="let s of slides; let i = index" 
                [class.active]="i === currentIndex"></span>
        </div>

        <ion-button
          expand="block"
          class="apple-button"
          *ngIf="currentIndex < slides.length - 1"
          (click)="next()">
          Siguiente
        </ion-button>

    <ion-button
      expand="block"
      class="apple-button"
      *ngIf="currentIndex === slides.length - 1"
      (click)="goBack()">
      Ir al home
    </ion-button>
  </div>

    </div>
  </div>
</ion-content>
