.apple-toolbar {
--background: rgba(0, 0, 0, 0.6);
--color: #fff;
backdrop-filter: blur(14px);
}


.intro-content {
--background: linear-gradient(180deg, #121212, #000000);
color: white;
}


.slide {
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
}


.slide p {
margin-top: 14px;
opacity: 0.65;
}


.bottom-action {
position: absolute;
bottom: 26px;
width: 100%;
}


.apple-button {
--background: #ffffff;
--color: #000000;
font-weight: 600;
border-radius: 24px;
}

