<ion-header>
  <ion-toolbar class="apple-toolbar">
    <ion-title>Intro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="intro-content ion-padding">

  <div
    class="slide
           ion-text-center
           ion-padding
           ion-align-items-center
           ion-justify-content-center">

    <ion-title size="large">
      {{ slides[currentIndex].title }}
    </ion-title>

    <p class="ion-margin-top">
      {{ slides[currentIndex].subtitle }}
    </p>

  </div>

  <div class="bottom-action ion-padding">
    <ion-button
      expand="block"
      class="apple-button"
      *ngIf="currentIndex < slides.length - 1"
      (click)="next()">
      Siguiente
    </ion-button>

    <ion-button
      expand="block"
      class="apple-button"
      *ngIf="currentIndex === slides.length - 1"
      (click)="goBack()">
      Ir al home
    </ion-button>
  </div>

</ion-content>

