.slide-content  {
  text-align:center;
  padding: 10px;
}
.slide-content img {
  width: 100%;
  max-height: 300px;
  height: auto;
  border-radius: 10px;
  margin: 10% 0;
}
.slide-content h2 {
  margin: 0;
  font-size: 25px;
  color: #ff0202;
}
.slide-content p {
  font-size: 16px;
  color: #ffffff;
  text-align: justify;
}

.card {
  padding: var(--espaciado-base);
  background-color: var(--color-claro);
}
ion-card {
  background:#ff0202
}
.slide-content {
  background-color: #000000;
  color: #000;
  padding: 16px;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.dark-slide {
  background-color: #e91111;
  color: #0d0000;
}
